# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Flask
instance/
.flaskenv

# Environment Variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# React
frontend/node_modules/
frontend/build/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/